In [183]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [244]:
player = pd.read_csv('csv_files/player_stats.csv')
player.drop('Unnamed: 0', axis=1, inplace= True)

power = pd.read_csv('csv_files/power_index.csv')
power.drop('Unnamed: 0', axis=1, inplace= True)

passing = pd.read_csv('csv_files/passing.csv')
passing.drop('Unnamed: 0', axis=1, inplace= True)

rushing = pd.read_csv('csv_files/rushing.csv')
rushing.drop('Unnamed: 0', axis=1, inplace= True)

In [185]:
print('Player')
display(player.head())
print('Power')
display(power.head())
print('Passing')
display(passing.head())
print('Rushing')
rushing.head()

Player

,NAME,COLLEGE,YEAR,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,HT/WT,DOB,DRAFT_STATUS
0,Stefan LeFors,LOU,2004,86.3,68.3,351,66.8,66.5,2.8,-3.7,1.6,88.3,na,6/7/1981,"2005: Rd 4, Pk 20 (CAR)"
1,Alex Smith,UTAH,2004,84.5,75.8,480,73.4,63.5,16.0,-7.3,1.2,83.8,"6' 4"", 215 lbs",5/7/1984 (36),"2005: Rd 1, Pk 1 (SF)"
2,Jason White,OKLA,2004,84.1,56.6,454,61.2,70.9,-6.2,-6.1,2.7,78.5,na,na,na
3,Jason Campbell,AUB,2004,83.3,41.5,373,48.4,56.9,-3.9,-6.7,2.0,76.1,na,12/31/1981,"2005: Rd 1, Pk 25 (WSH)"
4,Matt Jones,ARK,2004,81.7,35.9,383,43.6,24.4,27.5,-7.7,-0.7,72.6,na,4/22/1983,"2005: Rd 1, Pk 21 (JAX)"

Power

  COLLEGE  OVERALL  OFFENSE  DEFENSE  SPECIAL  YEAR
0     TEX     94.8     92.0     85.0     71.9  2005
1     USC     94.1     95.8     78.7     40.7  2005
2     OSU     86.9     73.3     83.7     74.7  2005
3     PSU     83.7     74.0     83.4     47.0  2005
4      VT     83.2     75.0     77.2     67.0  2005

Passing

,NAME,YEAR,CMP,PATT,CMP%,PYDS,PAVG,PLNG,PTD,INT,SACK,RTG
0,Sonny Cumbie,2004,421,642,65.6,"4,742",7.4,80,32,18,26,138.5
1,Timmy Chang,2004,358,602,59.5,"4,258",7.1,75,37,13,15,134.8
2,Omar Jacobs,2004,309,462,66.9,"4,002",8.7,58,41,4,10,167.2
3,Derek Anderson,2004,279,515,54.2,"3,615",7.0,55,29,17,37,125.1
4,Bruce Gradkowski,2004,280,399,70.2,"3,518",8.8,96,27,8,14,162.6

Rushing

,NAME,YEAR,POS,RATT,RYDS,RAVG,RLNG,RTD
0,J.J. Arrington,2004,"<div class=""position"">RB</div>",289,"2,018",7.0,89,15
1,DeAngelo Williams,2004,"<div class=""position"">RB</div>",313,"1,948",6.2,75,22
2,Adrian Peterson,2004,"<div class=""position"">RB</div>",339,"1,925",5.7,80,15
3,Cedric Benson,2004,"<div class=""position"">RB</div>",326,"1,834",5.6,60,19
4,Jamario Thomas,2004,"<div class=""position"">RB</div>",285,"1,801",6.3,77,17

# Combining data frames

In [245]:
rushing['POS'] = [rushing['POS'][i][-8:-6] for i in range(len(rushing['POS']))]

In [246]:
df = pd.merge(player, power, on=['COLLEGE', 'YEAR'],how='left' )

In [247]:
df = pd.merge(df, passing, on=['NAME', 'YEAR'], how='left')

In [248]:
df = pd.merge(df, rushing, on=['NAME', 'YEAR'], how= 'left')

In [249]:
df.rename(columns={'SACK_x':'QBR_SACK', 'SACK_y' : 'TOTAL_SACKS'}, inplace=True)

In [250]:
df.drop('HT/WT', axis=1, inplace = True)

In [251]:
df['COLLEGE'] = df['COLLEGE'].astype(str)

In [256]:
ACC = ['UNC', 'CLEM', 'MIAMI', 'ND', 'NCST', 'PITT', 'VT', 'GT', 'BC', 'UVA', 'SYR', 'DUKE', 'FSU', 'WAKE', 'LOU', 'MIA']
American = ['SMU','CIN', 'HOU', 'TLSA', 'NAVY', 'UCF', 'TEM', 'MEM', 'USF', 'ECU', 'TULN']
BIG12 = ['OKST', 'ISU', 'KSU', 'WVU', 'BAY', 'TCU', 'OU', 'TEX', 'TTU', 'KU', 'OKLA']
BIG10 = ['IU', 'MD', 'MSU', 'MICH', 'OSU', 'PSU', 'RUTG', 'ILL', 'IOWA', 'MINN', 'NEB', 'NW', 'PUR', 'WISC', 'IND', 'WIS']
C_USA = ['FAU', 'WKU', 'MRSH', 'ODU', 'FIU', 'CLT', 'MTSU', 'UAB', 'LT', 'UTSA', 'USM', 'UTEP', 'RICE', 'UNT', 'CHAR']
INDEP = ['LIB', 'ARMY', 'BYU', 'NMSU', 'UCONN', 'MASS', 'CONN', 'UMASS']
MAC = ['AKR', 'BGSU', 'BUFF', 'KENT', 'M-OH', 'OHIO', 'BALL', 'CMU', 'EMU', 'NIU', 'TOL', 'WMU']
MTN_WEST = ['AFA', 'BSU', 'CSU', 'FRES', 'HAW', 'NEV', 'UNM', 'SDSU', 'SJSU', 'UNLV', 'USU', 'WYO']
PAC_12 = ['CAL', 'ORE', 'ORST', 'STAN', 'WASH', 'WSU', 'ASU', 'ARIZ', 'COLO', 'UCLA', 'USC', 'UTAH']
SEC =['UGA', 'TENN', 'FLA', 'MIZ', 'SC', 'UK', 'VAN', 'ALA', 'TA&M','ARK', 'AUB', 'MSST', 'MISS', 'LSU']
SUN_BELT = ['CCU', 'TROY', 'GASO', 'APP', 'GAST', 'UL', 'TXST', 'USA', 'ARST', 'ULM', 'ULL', 'IDHO', 'ARKST']
conf = ['ACC', 'American', 'BIG12', 'BIG10', 'C-USA', 'INDEP', 'MAC', 'MTN-WEST', 'PAC-12', 'SEC', 'SUN-BELT']

In [253]:
df['COLLEGE'].mask(df['COLLEGE'].isin(ACC), 'ACC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(American), 'American', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(BIG12), 'BIG12', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(BIG10), 'BIG10', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(C_USA), 'C-USA', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(INDEP), 'INDEP', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(MAC), 'MAC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(MTN_WEST), 'MTN-WEST', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(PAC_12), 'PAC-12', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(SEC), 'SEC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(SUN_BELT), 'SUN-BELT', inplace=True)

In [261]:
df = df[df['COLLEGE'].isin(conf)]

In [264]:
df.head()

,NAME,COLLEGE,YEAR,QBR,PAA,PLAYS,EPA,PASS,RUN,QBR_SACK,PEN,RAW,DOB,DRAFT_STATUS,OVERALL,OFFENSE,DEFENSE,SPECIAL,CMP,PATT,CMP%,PYDS,PAVG,PLNG,PTD,INT,TOTAL_SACKS,RTG,POS,RATT,RYDS,RAVG,RLNG,RTD
0,Stefan LeFors,ACC,2004,86.3,68.3,351,66.8,66.5,2.8,-3.7,1.6,88.3,6/7/1981,"2005: Rd 4, Pk 20 (CAR)",NaN,NaN,NaN,NaN,189.0,257.0,73.5,"2,596",10.1,61.0,20.0,3.0,9.0,181.7,QB,71.0,333,4.7,27.0,3.0
1,Alex Smith,PAC-12,2004,84.5,75.8,480,73.4,63.5,16.0,-7.3,1.2,83.8,5/7/1984 (36),"2005: Rd 1, Pk 1 (SF)",NaN,NaN,NaN,NaN,214.0,317.0,67.5,"2,952",9.3,78.0,32.0,4.0,18.0,176.5,QB,135.0,631,4.7,70.0,10.0
2,Jason White,BIG12,2004,84.1,56.6,454,61.2,70.9,-6.2,-6.1,2.7,78.5,na,na,NaN,NaN,NaN,NaN,255.0,390.0,65.4,"3,205",8.2,72.0,35.0,9.0,9.0,159.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Jason Campbell,SEC,2004,83.3,41.5,373,48.4,56.9,-3.9,-6.7,2.0,76.1,12/31/1981,"2005: Rd 1, Pk 25 (WSH)",NaN,NaN,NaN,NaN,188.0,270.0,69.6,"2,700",10.0,87.0,20.0,7.0,13.0,172.9,NaN,NaN,NaN,NaN,NaN,NaN
4,Matt Jones,SEC,2004,81.7,35.9,383,43.6,24.4,27.5,-7.7,-0.7,72.6,4/22/1983,"2005: Rd 1, Pk 21 (JAX)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN