The data used was gathered from four different ESPN sources

 1. College Football Total Quarterback Rating(QBR) – (2004-2019) Season Leaders
     * Rates the quarterback on playmaking skill and gives an overall score 0-100
 2. College Football Power Index (2005-2019)
     * Ranks and rates teams offensive defensive and special teams’ efficiency
 3. College Football Player Passing Stats (2004-2019)
     * An overview of top performing players and their seasons passing stats
 4. College Football Player Rushing Stats  (2004-2019)
     * An overview of top performing players and their seasons passing stats

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
player = pd.read_csv('csv_files/player_stats.csv')
player.drop('Unnamed: 0', axis=1, inplace= True)

power = pd.read_csv('csv_files/power_index.csv')
power.drop('Unnamed: 0', axis=1, inplace= True)

passing = pd.read_csv('csv_files/passing.csv')
passing.drop('Unnamed: 0', axis=1, inplace= True)

rushing = pd.read_csv('csv_files/rushing.csv')
rushing.drop('Unnamed: 0', axis=1, inplace= True)

In [3]:
print('Player')
display(player.head())
print('Power')
display(power.head())
print('Passing')
display(passing.head())
print('Rushing')
rushing.head()

Player

,NAME,COLLEGE,YEAR,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,HT/WT,DOB,DRAFT_STATUS
0,Stefan LeFors,LOU,2004,86.3,68.3,351,66.8,66.5,2.8,-3.7,1.6,88.3,na,6/7/1981,"2005: Rd 4, Pk 20 (CAR)"
1,Alex Smith,UTAH,2004,84.5,75.8,480,73.4,63.5,16.0,-7.3,1.2,83.8,"6' 4"", 215 lbs",5/7/1984 (36),"2005: Rd 1, Pk 1 (SF)"
2,Jason White,OKLA,2004,84.1,56.6,454,61.2,70.9,-6.2,-6.1,2.7,78.5,na,na,na
3,Jason Campbell,AUB,2004,83.3,41.5,373,48.4,56.9,-3.9,-6.7,2.0,76.1,na,12/31/1981,"2005: Rd 1, Pk 25 (WSH)"
4,Matt Jones,ARK,2004,81.7,35.9,383,43.6,24.4,27.5,-7.7,-0.7,72.6,na,4/22/1983,"2005: Rd 1, Pk 21 (JAX)"

Power

  COLLEGE  OVERALL  OFFENSE  DEFENSE  SPECIAL  YEAR
0     TEX     94.8     92.0     85.0     71.9  2005
1     USC     94.1     95.8     78.7     40.7  2005
2     OSU     86.9     73.3     83.7     74.7  2005
3     PSU     83.7     74.0     83.4     47.0  2005
4      VT     83.2     75.0     77.2     67.0  2005

Passing

,NAME,YEAR,CMP,PATT,CMP%,PYDS,PAVG,PLNG,PTD,INT,SACK,RTG
0,Sonny Cumbie,2004,421,642,65.6,"4,742",7.4,80,32,18,26,138.5
1,Timmy Chang,2004,358,602,59.5,"4,258",7.1,75,37,13,15,134.8
2,Omar Jacobs,2004,309,462,66.9,"4,002",8.7,58,41,4,10,167.2
3,Derek Anderson,2004,279,515,54.2,"3,615",7.0,55,29,17,37,125.1
4,Bruce Gradkowski,2004,280,399,70.2,"3,518",8.8,96,27,8,14,162.6

Rushing

,NAME,YEAR,POS,RATT,RYDS,RAVG,RLNG,RTD
0,J.J. Arrington,2004,"<div class=""position"">RB</div>",289,"2,018",7.0,89,15
1,DeAngelo Williams,2004,"<div class=""position"">RB</div>",313,"1,948",6.2,75,22
2,Adrian Peterson,2004,"<div class=""position"">RB</div>",339,"1,925",5.7,80,15
3,Cedric Benson,2004,"<div class=""position"">RB</div>",326,"1,834",5.6,60,19
4,Jamario Thomas,2004,"<div class=""position"">RB</div>",285,"1,801",6.3,77,17

# Combining data frames

In [4]:
rushing['POS'] = [rushing['POS'][i][-8:-6] for i in range(len(rushing['POS']))]

In [5]:
df = pd.merge(player, power, on=['COLLEGE', 'YEAR'],how='left' )

In [6]:
df = pd.merge(df, passing, on=['NAME', 'YEAR'], how='left')

In [7]:
df = pd.merge(df, rushing, on=['NAME', 'YEAR'], how= 'left')

In [8]:
df.rename(columns={'SACK_x':'QBR_SACK', 'SACK_y' : 'TOTAL_SACKS'}, inplace=True)

In [9]:
df.drop('HT/WT', axis=1, inplace = True)

# Binning colleges by conference

In [10]:
ACC = ['UNC', 'CLEM', 'MIAMI', 'ND', 'NCST', 'PITT', 'VT', 'GT', 'BC', 'UVA', 'SYR', 'DUKE', 'FSU', 'WAKE', 'LOU', 'MIA']
American = ['SMU','CIN', 'HOU', 'TLSA', 'NAVY', 'UCF', 'TEM', 'MEM', 'USF', 'ECU', 'TULN']
BIG12 = ['OKST', 'ISU', 'KSU', 'WVU', 'BAY', 'TCU', 'OU', 'TEX', 'TTU', 'KU', 'OKLA']
BIG10 = ['IU', 'MD', 'MSU', 'MICH', 'OSU', 'PSU', 'RUTG', 'ILL', 'IOWA', 'MINN', 'NEB', 'NW', 'PUR', 'WISC', 'IND', 'WIS']
C_USA = ['FAU', 'WKU', 'MRSH', 'ODU', 'FIU', 'CLT', 'MTSU', 'UAB', 'LT', 'UTSA', 'USM', 'UTEP', 'RICE', 'UNT', 'CHAR']
INDEP = ['LIB', 'ARMY', 'BYU', 'NMSU', 'UCONN', 'MASS', 'CONN', 'UMASS']
MAC = ['AKR', 'BGSU', 'BUFF', 'KENT', 'M-OH', 'OHIO', 'BALL', 'CMU', 'EMU', 'NIU', 'TOL', 'WMU']
MTN_WEST = ['AFA', 'BSU', 'CSU', 'FRES', 'HAW', 'NEV', 'UNM', 'SDSU', 'SJSU', 'UNLV', 'USU', 'WYO']
PAC_12 = ['CAL', 'ORE', 'ORST', 'STAN', 'WASH', 'WSU', 'ASU', 'ARIZ', 'COLO', 'UCLA', 'USC', 'UTAH']
SEC =['UGA', 'TENN', 'FLA', 'MIZ', 'SC', 'UK', 'VAN', 'ALA', 'TA&M','ARK', 'AUB', 'MSST', 'MISS', 'LSU']
SUN_BELT = ['CCU', 'TROY', 'GASO', 'APP', 'GAST', 'UL', 'TXST', 'USA', 'ARST', 'ULM', 'ULL', 'IDHO', 'ARKST']
conf = ['ACC', 'American', 'BIG12', 'BIG10', 'C-USA', 'INDEP', 'MAC', 'MTN-WEST', 'PAC-12', 'SEC', 'SUN-BELT']

In [11]:
df['COLLEGE'].mask(df['COLLEGE'].isin(ACC), 'ACC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(American), 'American', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(BIG12), 'BIG12', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(BIG10), 'BIG10', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(C_USA), 'C-USA', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(INDEP), 'INDEP', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(MAC), 'MAC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(MTN_WEST), 'MTN-WEST', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(PAC_12), 'PAC-12', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(SEC), 'SEC', inplace=True)
df['COLLEGE'].mask(df['COLLEGE'].isin(SUN_BELT), 'SUN-BELT', inplace=True)

In [12]:
df = df[df['COLLEGE'].isin(conf)]

# Adjusting date of birth to age

In [13]:
for index, row in enumerate(df['DOB']):
    if len(row) <= 10:
        df.loc[index, 'DOB'] = row[-4:]
        continue
    df.loc[index, 'DOB'] = row[-9:-5]

In [14]:
df['DOB'] = df['DOB'].replace(['na'], 0)

In [15]:
df['DOB'] = df['DOB'].astype('float')

In [16]:
df['AGE'] = df['YEAR'] - df['DOB']

In [17]:
for index, row in enumerate(df['AGE']):
    if row > 100:
        df.loc[index, 'AGE'] = 0

# Minor changes

In [45]:
df['PYDS'] = df['PYDS'].str.replace(',', '')
df['PYDS'] = df['PYDS'].astype(float)

df['RYDS'] = df['RYDS'].str.replace(',', '')
df['RYDS'] = df['RYDS'].astype(float)

In [18]:
df.loc[df['DRAFT_STATUS'] != 'na', 'DRAFTED'] = 1

In [19]:
df.drop(['DOB', 'DRAFT_STATUS', 'POS'], axis=1, inplace=True)

In [20]:
df = df[df['YEAR'] > 2004]

In [44]:
df.head()

,NAME,COLLEGE,YEAR,QBR,PAA,PLAYS,EPA,PASS,RUN,QBR_SACK,PEN,RAW,OVERALL,OFFENSE,DEFENSE,SPECIAL,CMP,PATT,CMP%,PYDS,PAVG,PLNG,PTD,INT,TOTAL_SACKS,RTG,RATT,RYDS,RAVG,RLNG,RTD,AGE,DRAFTED
50,Pat White,BIG12,2005.0,87.5,42.1,267.0,44.3,15.9,32.3,-2.9,-1.6,83.8,77.0,76.2,69.4,46.7,65.0,114.0,57.0,828,7.3,50.0,8.0,5.0,5.0,132.4,131.0,952,7.3,76.0,7.0,19.0,1.0
51,Vince Young,BIG12,2005.0,86.1,71.5,532.0,75.0,44.5,36.2,-8.1,2.2,80.2,94.8,92.0,85.0,71.9,212.0,325.0,65.2,3036,9.3,75.0,26.0,10.0,13.0,163.9,155.0,"1,050",6.8,80.0,12.0,22.0,1.0
52,Brian Brohm,ACC,2005.0,81.2,48.9,385.0,49.8,56.1,1.7,-9.4,2.0,78.9,76.3,84.0,54.4,55.2,207.0,301.0,68.8,2883,9.6,76.0,19.0,5.0,17.0,166.7,NaN,NaN,NaN,NaN,NaN,20.0,1.0
53,Rudy Carpenter,PAC-12,2005.0,80.8,39.5,307.0,42.7,51.6,2.5,-13.1,1.2,79.2,68.1,79.0,48.2,50.1,156.0,228.0,68.4,2273,10.0,69.0,17.0,2.0,21.0,175.0,NaN,NaN,NaN,NaN,NaN,19.0,NaN
54,Matt Leinart,PAC-12,2005.0,80.5,51.1,529.0,61.5,64.9,6.5,-8.8,-1.0,73.2,94.1,95.8,78.7,40.7,283.0,431.0,65.7,3815,8.9,67.0,28.0,8.0,17.0,157.7,NaN,NaN,NaN,NaN,NaN,22.0,1.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1796 entries, 50 to 1862
Data columns (total 33 columns):
NAME           1796 non-null object
COLLEGE        1796 non-null object
YEAR           1796 non-null float64
QBR            1796 non-null float64
PAA            1796 non-null float64
PLAYS          1796 non-null float64
EPA            1796 non-null float64
PASS           1796 non-null float64
RUN            1796 non-null float64
QBR_SACK       1796 non-null float64
PEN            1796 non-null float64
RAW            1796 non-null float64
OVERALL        1796 non-null float64
OFFENSE        1796 non-null float64
DEFENSE        1796 non-null float64
SPECIAL        1796 non-null float64
CMP            1795 non-null float64
PATT           1795 non-null float64
CMP%           1795 non-null float64
PYDS           1795 non-null float64
PAVG           1795 non-null float64
PLNG           1795 non-null float64
PTD            1795 non-null float64
INT            1795 non-null float64
TOTAL_SACKS    1795 non-null float64
RTG            1795 non-null float64
RATT           718 non-null float64
RYDS           718 non-null float64
RAVG           718 non-null float64
RLNG           718 non-null float64
RTD            718 non-null float64
AGE            1796 non-null float64
DRAFTED        432 non-null float64
dtypes: float64(31), object(2)
memory usage: 557.1+ KB

In [47]:
df.to_csv('csv_files/full_stats.csv')